.mainheader{
	background-image:url('../mainbig.jpg');
    background-repeat:no-repeat;
    background-size:cover;}
@media only screen and (max-width:767px) and (min-device-width:320px)
{
	.toppadding{padding:10px 30px;}
	.heading h1{text-align:center;padding:23px 0px 10px;color:#0587c1;font-weight:bold;font-size:40px;}
	.formdiv{padding:8px;border:11px solid #edebef;}
	
	.tablesm{width:100%;overflow-x:auto;}.healthbox2 small{font-size:8px;font-weight:bold;}
	.mainbottom{height:10px;}
	.formarea .rightarea h4 {
		text-align: left;
		padding-bottom: 20px;
		font-size: 24px;}
}
@media only screen and (max-width:449px) and (min-device-width:320px)
{
	.healthbox1{height:110px;width:100%;background-color:#f6b097;padding: 10px;margin:5px 0;float:left;text-align:center;}
	.healthbox2{height:110px;width:100%;background-color:#fff383;padding: 10px;margin:5px 0;float:left;text-align:center;}
	.healthbox3{height:110px;width:100%;background-color:#dce386;padding: 10px;margin:5px 0;float:left;text-align:center;}
	.healthbox4{height:110px;width:100%;background-color:#a8d4b0;padding: 10px;margin:5px 0;float:left;text-align:center;}
	.formarea .leftarea .healthbox1  h3{padding:5px;margin:0;font-size:9px;font-weight:bold;color:black;}
	.formarea .leftarea .healthbox2  h3{padding:5px;margin:0;font-size:9px;font-weight:bold;color:black;}
	.formarea .leftarea .healthbox3  h3{padding:5px;margin:0;font-size:9px;font-weight:bold;color:black;}
	.formarea .leftarea .healthbox4  h3{padding:5px;margin:0;font-size:9px;font-weight:bold;color:black;}
	.formarea .leftarea .healthbox1 h2{padding:0;margin:0;font-weight:bold;font-size:25px;color:black;}
	.formarea .leftarea .healthbox2 h2{padding:0;margin:0;font-weight:bold;font-size:25px;color:black;}
	.formarea .leftarea .healthbox3 h2{padding:0;margin:0;font-weight:bold;font-size:25px;color:black;}
	.formarea .leftarea .healthbox4 h2{padding:0;margin:0;font-weight:bold;font-size:25px;color:black;}
	.formarea .leftarea .healthbox1 h4{padding:4px 0 0 0;margin:0;font-weight:normal;font-size:11px;color:black;}
	.formarea .leftarea .healthbox2 h4{padding:4px 0 0 0;margin:0;font-weight:normal;font-size:11px;color:black;}
	.formarea .leftarea .healthbox3 h4{padding:4px 0 0 0;margin:0;font-weight:normal;font-size:11px;color:black;}
	.formarea .leftarea .healthbox4 h4{padding:4px 0 0 0;margin:0;font-weight:normal;font-size:11px;color:black;}
	.formarea .leftarea h3{color:white;font-size:17px;font-weight:bold;margin:0;}
	.formarea .leftarea h1{color:white;font-size:30px;font-weight:bold;margin:0;}
	.formarea .leftarea h4{color:white;font-size:14px;font-weight:bold;margin:0;}
}
@media only screen and (max-width:767px) and (min-device-width:450px)
{
	.healthbox1{height:170px;width:100%;background-color:#f6b097;padding: 16px;margin:5px 0;float:left;text-align:center;}
	.healthbox2{height:170px;width:100%;background-color:#fff383;padding: 16px;margin:5px 0;float:left;text-align:center;}
	.healthbox3{height:170px;width:100%;background-color:#dce386;padding: 16px;margin:5px 0;float:left;text-align:center;}
	.healthbox4{height:170px;width:100%;background-color:#a8d4b0;padding: 16px;margin:5px 0;float:left;text-align:center;}
	.formarea .leftarea .healthbox1  h3{padding:5px;margin:0;font-size:15px;font-weight:bold;color:black;}
	.formarea .leftarea .healthbox2  h3{padding:5px;margin:0;font-size:15px;font-weight:bold;color:black;}
	.formarea .leftarea .healthbox3  h3{padding:5px;margin:0;font-size:15px;font-weight:bold;color:black;}
	.formarea .leftarea .healthbox4  h3{padding:5px;margin:0;font-size:14px;font-weight:bold;color:black;}
	.formarea .leftarea .healthbox1 h2{padding:0;margin:0;font-weight:bold;font-size:42px;color:black;}
	.formarea .leftarea .healthbox2 h2{padding:0;margin:0;font-weight:bold;font-size:42px;color:black;}
	.formarea .leftarea .healthbox3 h2{padding:0;margin:0;font-weight:bold;font-size:42px;color:black;}
	.formarea .leftarea .healthbox4 h2{padding:0;margin:0;font-weight:bold;font-size:42px;color:black;}
	.formarea .leftarea .healthbox1 h4{padding:4px 0 0 0;margin:0;font-weight:normal;font-size:15px;color:black;}
	.formarea .leftarea .healthbox2 h4{padding:4px 0 0 0;margin:0;font-weight:normal;font-size:15px;color:black;}
	.formarea .leftarea .healthbox3 h4{padding:4px 0 0 0;margin:0;font-weight:normal;font-size:15px;color:black;}
	.formarea .leftarea .healthbox4 h4{padding:4px 0 0 0;margin:0;font-weight:normal;font-size:15px;color:black;}
	.formarea .leftarea h3{color:white;font-size:30px;font-weight:bold;margin:0;}
	.formarea .leftarea h1{color:white;font-size:55px;font-weight:bold;margin:0;}
	.formarea .leftarea h4{color:white;font-size:25px;font-weight:bold;margin:0;}
}
@media only screen and (max-width:991px) and (min-device-width:768px)
{
.toppadding {padding: 10px 23px;}
.rightarea{padding-top:0px;}
.heading h1{text-align:center;padding:23px 0 13px;color:#0587c1;font-weight:bold;font-size:45px;}
.healthbox1{height:118px;width:165px;padding: 10px;background-color:#f6b097;margin:7px;float:left;text-align:center;}
.healthbox2{height:118px;width:165px;padding: 10px;background-color:#fff383;margin:7px;float:left;text-align:center;}
.healthbox3{height:118px;width:165px;padding: 10px;background-color:#dce386;margin:7px;float:left;text-align:center;}
.healthbox4{height:118px;width:165px;padding: 10px;background-color:#a8d4b0;margin:7px;float:left;text-align:center;}
.formarea .leftarea .healthbox1  h3{padding:5px;margin:0;font-size:12px;font-weight:bold;color:black;}
.formarea .leftarea .healthbox2  h3{padding:5px;margin:0;font-size:12px;font-weight:bold;color:black;}
.formarea .leftarea .healthbox3  h3{padding:5px;margin:0;font-size:12px;font-weight:bold;color:black;}
.formarea .leftarea .healthbox4  h3{padding:5px;margin:0;font-size:12px;font-weight:bold;color:black;}
.formarea .leftarea .healthbox1 h2{padding:0;margin:0;font-weight:bold;font-size:28px;color:black;}
.formarea .leftarea .healthbox2 h2{padding:0;margin:0;font-weight:bold;font-size:28px;color:black;}
.formarea .leftarea .healthbox3 h2{padding:0;margin:0;font-weight:bold;font-size:28px;color:black;}
.formarea .leftarea .healthbox4 h2{padding:0;margin:0;font-weight:bold;font-size:28px;color:black;}
.formarea .leftarea .healthbox1 h4{padding:4px 0 0 0;margin:0;font-weight:normal;font-size:13px;color:black;}
.formarea .leftarea .healthbox2 h4{padding:4px 0 0 0;margin:0;font-weight:normal;font-size:13px;color:black;}
.formarea .leftarea .healthbox3 h4{padding:4px 0 0 0;margin:0;font-weight:normal;font-size:13px;color:black;}
.formarea .leftarea .healthbox4 h4{padding:4px 0 0 0;margin:0;font-weight:normal;font-size:13px;color:black;}
.formarea .leftarea h3{color:white;font-size:24px;font-weight:bold;padding: 0 0 0 10px;margin:0;}
.formarea .leftarea h1{color:white;font-size:44px;font-weight:bold;padding: 0 0 0 10px;margin:0;}
.formarea .leftarea h4{color:white;font-size:20px;font-weight:bold;padding: 0 0 0 10px;margin:0;}
.tablesm{width:100%;overflow-x:auto;}
.formdiv{padding:8px;border:11px solid #edebef;}
.healthbox2 small{font-size:8px;font-weight:bold;}
.mainbottom{height:30px;}.heading h1{text-align:center;padding:25px 0 13px;color:#0587c1;font-weight:bold;font-size:45px;}

}
@media only screen and (min-device-width:992px) and (max-device-width:1138px)
{
.healthbox1{height:140px;width:185px;padding: 14px;background-color:#f6b097;margin:7px 7px 7px 0;float:left;text-align:center;}
.healthbox2{height:140px;width:185px;padding: 14px;background-color:#fff383;margin:7px 0 7px 7px;float:left;text-align:center;}
.healthbox3{height:140px;width:185px;padding: 14px;background-color:#dce386;margin:7px 7px 2px 0;float:left;text-align:center;}
.healthbox4{height:140px;width:185px;padding: 14px;background-color:#a8d4b0;margin:7px 0 2px 7px;float:left;text-align:center;}
.formarea .leftarea .healthbox1  h3{padding:5px;margin:0;font-size:14px;font-weight:bold;color:black;}
.formarea .leftarea .healthbox2  h3{padding:5px;margin:0;font-size:14px;font-weight:bold;color:black;}
.formarea .leftarea .healthbox3  h3{padding:5px;margin:0;font-size:14px;font-weight:bold;color:black;}
.formarea .leftarea .healthbox4  h3{padding:5px;margin:0;font-size:14px;font-weight:bold;color:black;}
.formarea .leftarea .healthbox1 h2{padding:0;margin:0;font-weight:bold;font-size:35px;color:black;}
.formarea .leftarea .healthbox2 h2{padding:0;margin:0;font-weight:bold;font-size:35px;color:black;}
.formarea .leftarea .healthbox3 h2{padding:0;margin:0;font-weight:bold;font-size:35px;color:black;}
.formarea .leftarea .healthbox4 h2{padding:0;margin:0;font-weight:bold;font-size:35px;color:black;}
.formarea .leftarea .healthbox1 h4{padding:4px 0 0 0;margin:0;font-weight:normal;font-size:15px;color:black;}
.formarea .leftarea .healthbox2 h4{padding:4px 0 0 0;margin:0;font-weight:normal;font-size:15px;color:black;}
.formarea .leftarea .healthbox3 h4{padding:4px 0 0 0;margin:0;font-weight:normal;font-size:15px;color:black;}
.formarea .leftarea .healthbox4 h4{padding:4px 0 0 0;margin:0;font-weight:normal;font-size:15px;color:black;}
.formarea .leftarea h3{color:white;font-size:27px;font-weight:bold;padding:0;margin:0;}
.formarea .leftarea h1{color:white;font-size:49px;font-weight:bold;padding:0;margin:0;}
.formarea .leftarea h4{color:white;font-size:22px;font-weight:bold;padding:0;margin:0;}
.healthbox2 small{font-size:9px;font-weight:bold;}

/*.form-control {font-size:10px;}*/
/*.btn{font-size:10px;}*/
.leftarea{padding-top:33px;}
.rightarea{padding-top:25px;}
.heading h1{text-align:center;padding:25px 0 13px;color:#0587c1;font-weight:bold;font-size:45px;}
}
@media only screen and (min-device-width:1139px) and (max-device-width:1349px)
{
.healthbox1{height:180px;width:231px;background-color:#f6b097;padding:15px;margin:6px 5px 5px 0;float:left;text-align:center;}
.healthbox2{height:180px;width:231px;background-color:#fff383;padding:15px;margin:6px 0 5px 5px;float:left;text-align:center;}
.healthbox3{height:180px;width:231px;background-color:#dce386;padding:15px;margin:5px 5px 5px 0;float:left;text-align:center;}
.healthbox4{height:180px;width:231px;background-color:#a8d4b0;padding:15px;margin:5px 0 5px 5px;float:left;text-align:center;}
.formarea .leftarea .healthbox1  h3{padding:10px;margin:0;font-size:17px;font-weight:bold;color:black;}
.formarea .leftarea .healthbox2  h3{padding:10px;margin:0;font-size:17px;font-weight:bold;color:black;}
.formarea .leftarea .healthbox3  h3{padding:10px;margin:0;font-size:17px;font-weight:bold;color:black;}
.formarea .leftarea .healthbox4  h3{padding:10px;margin:0;font-size:17px;font-weight:bold;color:black;}
.formarea .leftarea .healthbox1 h2{padding:0;margin:0;font-weight:bold;font-size:45px;color:black;}
.formarea .leftarea .healthbox2 h2{padding:0;margin:0;font-weight:bold;font-size:45px;color:black;}
.formarea .leftarea .healthbox3 h2{padding:0;margin:0;font-weight:bold;font-size:45px;color:black;}
.formarea .leftarea .healthbox4 h2{padding:0;margin:0;font-weight:bold;font-size:45px;color:black;}
.formarea .leftarea .healthbox1 h4{padding:4px 0 0 0;margin:0;font-weight:normal;font-size:18px;color:black;}
.formarea .leftarea .healthbox2 h4{padding:4px 0 0 0;margin:0;font-weight:normal;font-size:18px;color:black;}
.formarea .leftarea .healthbox3 h4{padding:4px 0 0 0;margin:0;font-weight:normal;font-size:18px;color:black;}
.formarea .leftarea .healthbox4 h4{padding:4px 0 0 0;margin:0;font-weight:normal;font-size:18px;color:black;}
.formarea .leftarea h3{color:white;font-size:33px;font-weight:bold;padding:0;margin:0;}
.formarea .leftarea h1{color:white;font-size:60px;font-weight:bold;padding:0;margin:0;}
.formarea .leftarea h4{color:white;font-size:27px;font-weight:bold;padding:0;margin:0;}
.leftarea{padding-top:33px;}
.rightarea{padding-top:33px;}
.heading h1{text-align:center;padding:25px 0 13px;color:#0587c1;font-weight:bold;font-size:45px;}
.healthbox2 small{font-size:12px;font-weight:bold;}
}
@media only screen and (min-device-width:992px) and (max-device-width:1349px)
{
.toppadding{padding:10px 65px;}
.formarea .rightarea h4{text-align:left;padding-bottom:15px;font-size:18px;}
.formdiv{padding: 25px 17px;border: 11px solid #d4c0f1;}
.mainbottom{height:80px;}table{width:100%;}
}
@media only screen and (min-device-width:1350px) and (max-device-width:2560px)
{
.toppadding{padding:25px 65px;}
.formarea .rightarea h4{text-align:left;padding-bottom:20px;font-size:26px;}
.formarea .leftarea h3{color:white;font-size:40px;font-weight:bold;padding:0;margin:0;}
.formarea .leftarea h1{color:white;font-size:73px;font-weight:bold;padding:0;margin:0;}
.formarea .leftarea h4{color:white;font-size:33px;font-weight:bold;padding:0;margin:0;}
.formdiv{padding:54px 24px;border:12px solid #d4c0f1;}
.healthbox1{height:200px;width:282px;padding: 13px;background-color:#f6b097;margin:15px 7px 5px 0;float:left;text-align:center;}
.healthbox2{height:200px;width:282px;padding: 13px;background-color:#fff383;margin:15px 0 5px 7px;float:left;text-align:center;}
.healthbox3{height:200px;width:282px;padding: 13px;background-color:#dce386;margin:10px 7px 5px 0;float:left;text-align:center;}
.healthbox4{height:200px;width:282px;padding: 13px;background-color:#a8d4b0;margin:10px 0 5px 7px;float:left;text-align:center;}
.formarea .leftarea .healthbox1  h3{padding:10px;margin:0;font-size:21px;font-weight:bold;color:black;}
.formarea .leftarea .healthbox2  h3{padding:10px;margin:0;font-size:21px;font-weight:bold;color:black;}
.formarea .leftarea .healthbox3  h3{padding:10px;margin:0;font-size:21px;font-weight:bold;color:black;}
.formarea .leftarea .healthbox4  h3{padding:10px;margin:0;font-size:21px;font-weight:bold;color:black;}
.formarea .leftarea .healthbox1 h2{padding:0;margin:0;font-weight:bold;font-size:50px;color:black;}
.formarea .leftarea .healthbox2 h2{padding:0;margin:0;font-weight:bold;font-size:50px;color:black;}
.formarea .leftarea .healthbox3 h2{padding:0;margin:0;font-weight:bold;font-size:50px;color:black;}
.formarea .leftarea .healthbox4 h2{padding:0;margin:0;font-weight:bold;font-size:50px;color:black;}
.formarea .leftarea .healthbox1 h4{padding:4px 0 0 0;margin:0;font-weight:normal;font-size:20px;color:black;}
.formarea .leftarea .healthbox2 h4{padding:4px 0 0 0;margin:0;font-weight:normal;font-size:20px;color:black;}
.formarea .leftarea .healthbox3 h4{padding:4px 0 0 0;margin:0;font-weight:normal;font-size:20px;color:black;}
.formarea .leftarea .healthbox4 h4{padding:4px 0 0 0;margin:0;font-weight:normal;font-size:20px;color:black;}
.heading h1{text-align:center;padding:40px 0 13px;color:#0587c1;font-weight:bold;font-size:45px;}
.btn{margin-top: 15px;}
.healthbox2 small{font-size:14px;font-weight:bold;}
table{width:100%;}
.mainbottom{height:80px;}
}
